#page-feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
  min-height: 100vh;
  .content{
      margin-top: 10px;
      width: 670px;
      height: 390px;
      background-color: white;
      border-radius:24px;
      display: flex;
      flex-direction: column;
      .top{
         height: 96px;
         display: flex;
         align-items: center; 
         padding: 0 32px 0 38px;
         box-sizing: border-box;
         border-bottom: 1Px solid #F2F2F2;
         .text1{
          font-size: 32px;
          color: #444444;
          
         }
         .text2{
           font-size: 32px;
           color: #888888;
           flex: 1;
           text-align: right;
         }
      }
      .bottom{
          margin-top: 34px;
          margin-left: 38px;
          line-height: 44px;
          .title{
            font-size: 32px;
            color: #444444;
          }
      }
      .text-area{
          margin-left: 20px;
          margin-right: 20px;
          height: 100px;
          margin-bottom: 20px;
      }
    
  }
  .btn{
      position: absolute;
      bottom: 88px;
      left: 50%;
      transform: translateX(-50%);
      width: 368px;
      height: 80px;
      background: #98142F;
      color: #fff;
      font-size: 34px;
      line-height: 80px;
  }
}